:root{
  --main-color: #000a5c;
  --sec-color: #558ed5;
  --accent-color: #e5322d;
}

@font-face {
  font-family: "Humanist";
  font-weight: 600;
  src: url(../font/humanist-777-black.otf) format("opentype");
}

@font-face {
  font-family: "Humanist";
  font-weight: 400;
  src: url(../font/humanist-777.otf) format("opentype");
}

body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Humanist", sans-serif;
}

.font-anton{
  font-family: "Humanist", sans-serif;
}

.main-color{
  color: var(--main-color);
}

.black-color{
  color: black;
}

.accent-color{
  color: var(--accent-color)
}

.secundary-color{
  color: var(--sec-color)
}

.accent-color-important{
  color: var(--accent-color) !important;
}

.white-color{
  color: #fafafa;
}


.white-link{
  color: white;
  text-decoration: underline dotted 2px white;
}

.main-link{
  color: var(--main-color);
  text-decoration: underline dotted 2px var(--main-color);
}

.sec-color{
  color: var(--sec-background);
}

.text-justify{
  text-align: justify;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: #00acef;
  text-decoration: none;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.left-title{
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.left-title::after{
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--main-color);
  bottom: 0;
  left: 0;
}

.center-title{
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.center-title::after{
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--main-color);
  bottom: 0;
  left: calc(50% - 25px);
}

.font22 {
  font-size: 22px;
}

.font-weight-bold{
  font-weight: bold;
}




/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* HEader */

.page-header{
  position: fixed;
  top: 0px;
  background: transparent;
  transition: all 0.5s;
  min-height: 60px;
  z-index: 10;
  width: 100%;
  
}

.header-scrolled{
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

.logo-container{
  position: relative;
}

.container-logo{
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 0 3px 10px rgba(0,0,0,.45); */
}

@media (max-width: 992px) {
  .container-logo{
    width: 100%;
  }
}

.page-header .container-links{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (max-width: 1400px) {
  .header-top{
    padding-right: 70px;
  }
}

@media (max-width: 1200px) {
  .page-header .container-links{
    gap: 20px;
  }

  .header-top{
    padding-right: 50px;
    gap: 5px;
  }

  .header-top a:not(:first-child)::before{
    padding-right: 5px;
  }
}

.page-header .header-link{
  opacity: 0.75;
  font-size: 15px;
  transition: all 0.5s;
  text-transform: uppercase;
  font-family: "Humanist", sans-serif;
}

.page-header .header-link:hover{
  opacity: 0.9;
}

.page-header .header-link.active{
  opacity: 1;
  position: relative;
  text-decoration: underline 2px;
  text-underline-offset: 8px;
}

.header-dropdown{
  /* background-color: transparent; */
  border-color: var(--main-color);
}

.header-dropdown li a{
  color: var(--main-color);
}

@media (max-width: 992px) {
  .page-header .header-main-container{
    background-color: var(--main-color);
    position: fixed;
    width: 260px;
    left: -259px;
    height: 100%;
    padding: 23px;
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: all 0.3s;
  }

  .page-header .container-logo{
    position: relative;
    padding: 15px;
  }

  .page-header .container-logo .logo{
    height: 60px;
  }

  .menu{
    color: black;
    position: absolute;
    right: 0px;
    top: 18px;
    border-radius: 8px;
    font-size: 2rem;
  }

  .page-header .header-main-container .container-links{
    /* background-color: rgba(25, 25, 25); */
    flex-flow: column;
    gap: 12px;
    align-items: start;
    justify-content: start;
    /* transition: all 0.5s; */
  }

  .page-header .header-main-container.active{
    left: 0px;
  }

  .page-header .header-main-container .header-link{
    color: white;
  }

}

.page-header .header-close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2rem;
}

#hover-interactive-header{
  transition: all 0.3s;
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.95);
}

#hover-interactive-header.active{
  left: 0px;
}


/* Home */
.home{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.home-container{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home .btn-get-started {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}

.home .btn-get-started:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}


/* about */

.about .icon-box{
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #d0ecf9;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box:hover .icon {
  background: var(--sec-color);
  border-color: var(--sec-color);
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .icon i {
  color: var(--sec-color);
  font-size: 32px;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.values-icon{
  font-size: 40px;
  color: #67b0d1;
  margin-bottom: 10px;
}

/* general-services */

.general-services{
  background-color: #f4fbfe;
}

.main-image-general-service{
  width: 100%;
  /* height: 100%; */
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.main-image-general-service::before{
  /* position: absolute;
  content: "";
  left: -41px;
  top: -20px;
  background-color: #f4fbfe;
  width: 315px;
  height: 105px;
  transform: rotateZ(330deg); */

  /* position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
	height: 0;
	border-bottom: 60px solid transparent;
  border-left: 480px solid #f4fbfe;
  border-top: 0px solid transparent; */
}

/* .main-image-general-service::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
	height: 0;
	border-top: 120px solid transparent;
  border-left: 120px solid #f4fbfe;
  border-bottom: 0px solid transparent;
} */

.general-service{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.general-service .image{
  width: 70px !important;
  height: 70px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid var(--main-color)
}

.general-service .text{
  font-weight: bold;
  max-width: calc(100% - 100px);
}

.list-general-services{
  /* margin-left: 110px; */
  margin-left: 50px;
}

/* servicios-especificos */
.specific-services .container-specific-service{
  border: 4px solid transparent;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  gap: 30px;
  min-height: 180px;
  padding: 1rem;
  /* margin-left: 45px;
  margin-right: 45px; */
}

.specific-services .container-specific-service.one{
  background-color: var(--main-color);
  border-top-color: var(--main-color);
  border-bottom-color: var(--main-color);
  color: white;
}

/* .specific-services .container-specific-service.one::before{
  position: absolute;
  content: "";
  top: -4px;
  left: -47px;
  width: 0;
  height: 0;
  border-bottom: 91px solid transparent;
  border-right: 45px solid var(--main-color);
  border-top: 91px solid transparent;
}

.specific-services .container-specific-service.one::after{
  position: absolute;
  content: "";
  top: -4px;
  right: -47px;
  width: 0;
  height: 0;
  border-bottom: 91px solid transparent;
  border-left: 45px solid var(--main-color);
  border-top: 91px solid transparent;
} */

.specific-services .container-specific-service.two{
  border-color: var(--main-color);
}



.specific-services .container-specific-service .image{
  width: 200px !important;
  height: 150px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

/* .specific-services .container-specific-service .image .top-left{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
	height: 0;
	border-bottom: 75px solid transparent;
  border-left: 43px solid #000a5c;
  border-top: 0px solid transparent;
}

.specific-services .container-specific-service .image .bottom-left{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
	height: 0;
	border-bottom: 0px solid transparent;
  border-left: 43px solid #000a5c;
  border-top: 75px solid transparent;
}

.specific-services .container-specific-service .image .top-right{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
	height: 0;
	border-bottom: 75px solid transparent;
  border-right: 43px solid #000a5c;
  border-top: 0px solid transparent;
}

.specific-services .container-specific-service .image .bottom-right{
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 0;
	height: 0;
	border-top: 75px solid transparent;
  border-right: 43px solid #000a5c;
  border-bottom: 0px solid transparent;
} */



.specific-services .container-specific-service .text{
  width: calc(100% - 200px);
}

@media (max-width: 768px) {
  .specific-services .container-specific-service{
    flex-flow: column;
  }

  .specific-services .container-specific-service .text{
    width: unset;
  }
}


/* construction */
.construction{
  background-color: #f4fbfe;
}

.entry-title-black {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, black 50%);
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .5s ease-in-out;
  
  /* text-transform: uppercase; */
}

.entry-title-black:hover {
  background-position: -100% 0;
}

.entry-title-sec {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, var(--sec-color) 50%);
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .5s ease-in-out;
  
  /* text-transform: uppercase; */
}
.entry-title-sec:hover {
  background-position: -100% 0;
}

/* valvulas */

.valve .container-valve{
  display: flex;
  justify-content: start;
  align-items: center; 
}

.valve .container-valve .container-image{
  border: 3px solid var(--main-color);
  padding: 8px;
}

.valve .container-valve .container-image .image{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.valve .container-valve .text .title{
  background-color: var(--main-color);
  color: #ffffff;
  border-radius: 0 50px 50px 0;
  width: fit-content;
  padding: 6px 24px 6px 6px;
  padding-left: 15px;
  transition: all 0.3s;
}

.valve .container-valve .text .title:hover{
  padding-right: 34px;
}

.valve .container-valve .text .desc{
  padding-left: 15px;
}

/* conections */

.conections{
  background-color: #f4fbfe;
}

.conections .container-coneccion{
  display: flex;
  justify-content: start;
  align-items: center; 
}

.conections .container-coneccion .image{
  border: 3px solid var(--main-color);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.conections .container-coneccion .text .title{
  background-color: var(--main-color);
  color: #ffffff;
  border-radius: 0 50px 50px 0;
  width: 100%;
  padding: 6px 24px 6px 6px;
  padding-left: 15px;
  transition: all 0.3s;
}

.conections .container-coneccion .text .title:hover{
  width: calc(100% + 10px);
}

/* clients */
.clients .client-logo {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  background: #fff;
  height: 120px;
}

.clients .client-logo img {
  height: 75%;
  filter: grayscale(100%);
  transition: 0.3s;
}

.clients .client-logo:hover img {
  filter: none;
  transform: scale(1.2);
}

/* experiencia */
.experience{
  background-color: #f4fbfe;
}

.experience .container-experience{
  border: 4px solid transparent;
  padding: 1.5rem;
  height: 100%;
}

.experience .container-experience.one{
  background-color: var(--main-color);
  border-top-color: var(--main-color);
  border-bottom-color: var(--main-color);
  color: white;
}

.experience .container-experience.two{
  border-color: var(--main-color);
}

.experience .container-experience .image{
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.experience .container-experience .info{
  border: 3px solid var(--main-color);
  padding: 0.5rem 0.5rem;
  width: 100%;
  min-height: 180px;
}

/* contacto */
/* .contact .info-container {
  background-color: var(--main-color);
  height: 100%;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.contact .info-item {
  width: 100%;
  background-color: var(--sec-color);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.contact .info-item i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item:hover i {
  background: #fff;
  color: var(--main-color);
}
.contact .info-item h4 {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
} */

.contact .info-container {
  background-color: var(--main-color);
  height: 100%;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.contact .info-item {
  width: 100%;
  background-color: var(--sec-color);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.contact .info-item:last-child {
  margin-bottom: 0;
}

.contact .info-item i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h4 {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: #fff;
  color: var(--main-color);
}

.contact .php-email-form {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 0 10px 10px 0;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: var(--sec-color);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--sec-color);
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--main-color);
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: var(--main-color);
  border: 0;
  padding: 14px 45px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: var(--main-color);
  opacity: 0.8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}