:root{
  --main-color: #000a5c;
  --sec-color: #558ed5;
  --accent-color: #e5322d;
}

@font-face {
  font-family: "Humanist";
  font-weight: 600;
  src: url(../font/humanist-777-black.otf) format("opentype");
}

@font-face {
  font-family: "Humanist";
  font-weight: 400;
  src: url(../font/humanist-777.otf) format("opentype");
}

body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Humanist", sans-serif;
}

.font-anton{
  font-family: "Humanist", sans-serif;
}

.main-color{
  color: var(--main-color);
}

.accent-color{
  color: var(--accent-color)
}

.accent-color-important{
  color: var(--accent-color) !important;
}

.white-color{
  color: #fafafa;
}


.white-link{
  color: white;
  text-decoration: underline dotted 2px white;
}

.main-link{
  color: var(--main-color);
  text-decoration: underline dotted 2px var(--main-color);
}

.sec-color{
  color: var(--sec-background);
}

.text-justify{
  text-align: justify;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: #00acef;
  text-decoration: none;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* HEader */

.page-header{
  position: fixed;
  top: 0px;
  background: transparent;
  transition: all 0.5s;
  min-height: 60px;
  z-index: 10;
  width: 100%;
  
}

.header-scrolled{
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

.logo-container{
  position: relative;
}

.container-logo{
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 0 3px 10px rgba(0,0,0,.45); */
}

@media (max-width: 992px) {
  .container-logo{
    width: 100%;
  }
}

.page-header .container-links{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (max-width: 1400px) {
  .header-top{
    padding-right: 70px;
  }
}

@media (max-width: 1200px) {
  .page-header .container-links{
    gap: 20px;
  }

  .header-top{
    padding-right: 50px;
    gap: 5px;
  }

  .header-top a:not(:first-child)::before{
    padding-right: 5px;
  }
}

.page-header .header-link{
  opacity: 0.75;
  font-size: 15px;
  transition: all 0.5s;
  text-transform: uppercase;
  font-family: "Humanist", sans-serif;
}

.page-header .header-link:hover{
  opacity: 0.9;
}

.page-header .header-link.active{
  opacity: 1;
  position: relative;
  text-decoration: underline 2px;
  text-underline-offset: 8px;
}

.header-dropdown{
  /* background-color: transparent; */
  border-color: var(--main-color);
}

.header-dropdown li a{
  color: var(--main-color);
}

@media (max-width: 992px) {
  .page-header .header-main-container{
    background-color: var(--main-color);
    position: fixed;
    width: 260px;
    left: -259px;
    height: 100%;
    padding: 23px;
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: all 0.3s;
  }

  .page-header .container-logo{
    position: relative;
    padding: 15px;
  }

  .page-header .container-logo .logo{
    height: 60px;
  }

  .menu{
    color: black;
    position: absolute;
    right: 0px;
    top: 18px;
    border-radius: 8px;
    font-size: 2rem;
  }

  .page-header .header-main-container .container-links{
    /* background-color: rgba(25, 25, 25); */
    flex-flow: column;
    gap: 12px;
    align-items: start;
    justify-content: start;
    /* transition: all 0.5s; */
  }

  .page-header .header-main-container.active{
    left: 0px;
  }

  .page-header .header-main-container .header-link{
    color: white;
  }

}

.page-header .header-close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2rem;
}

#hover-interactive-header{
  transition: all 0.3s;
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.95);
}

#hover-interactive-header.active{
  left: 0px;
}


/* Home */
.home{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.home-container{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home .btn-get-started {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}

.home .btn-get-started:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}


/* about */

.about .icon-box{
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #d0ecf9;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box:hover .icon {
  background: var(--sec-color);
  border-color: var(--sec-color);
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .icon i {
  color: var(--sec-color);
  font-size: 32px;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.values-icon{
  font-size: 40px;
  color: #67b0d1;
  margin-bottom: 10px;
}